.body-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.color-1 {
    background-color: #5D867F;
    width: calc(100%/3);
    height: calc(100%/3);
    position: absolute;
}
.color-2 {
    background-color: #A94622;
    width: calc(100%/3);
    height: calc(100%/3);
    position: absolute;
    left: calc(100%/3)
}
.color-3 {
    background-color: #A94622;
    width: calc(100%/3);
    height: calc(100%/3);
    position: absolute;
    left: calc(100%/3*2)
}
.color-4 {
    background-color: #5D867F;
    width: calc(100%/3);
    height: calc(100%/3);
    position: absolute;
    top: calc(100%/3)
}
.color-5 {
    background-color: #40634C;
    width: calc(100%/3);
    height: calc(100%/3);
    position: absolute;
    top: calc(100%/3);
    left: calc(100%/3)
}
.color-6 {
    background-color: #E7984F;
    width: calc(100%/3);
    height: calc(100%/3);
    position: absolute;
    top: calc(100%/3);
    left: calc(100%/3*2)
}
.color-7 {
    background-color: #9BAAB7;
    width: calc(100%/3);
    height: calc(100%/3);
    position: absolute;
    top: calc(100%/3*2);
}
.color-8 {
    background-color: #9BAAB7;
    width: calc(100%/3);
    height: calc(100%/3);
    position: absolute;
    top: calc(100%/3*2);
    left: calc(100%/3)
}
.color-9 {
    background-color: #E7984F;
    width: calc(100%/3);
    height: calc(100%/3);
    position: absolute;
    top: calc(100%/3*2);
    left: calc(100%/3*2)
}